@page
@model WiredBrainCoffee.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}


    <div class="container contact-container">
        <h2 class="mt-4 mb-3">
            Thank you !
            <small>It's always great to hear from you...</small>
        </h2>
        <hr />
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <h3>@Model.Message</h3>
        }
        <br />
    </div>

