@model IEnumerable<WiredBrainCoffee.Models.MenuItem>

<div class="card">
    <div class="card-body">
        <cache expires-after="TimeSpan.FromSeconds(10)" vary-by-query="time">
            <h2 class="card-title">Popular Brews <small>as of @DateTime.Now</small></h2>
        </cache>
        @foreach (var item in Model)
        {
            <p><span class="card-text text-success">@item.Name</span> - @item.Summary</p>
        }
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-success">Full Menu</a>
    </div>
</div>
